.nav-item {
  text-transform: uppercase;
  margin-left: 50px;
  color: #ccc;
}

.nav-item a::after {
  color: #ccc;
  content: "";
  display: block;
  width: 100%;
  background-color: #ccc;
  height: 1px;
  transform: scale(0);
  transition: all 0.3s;
}
.nav-item a:hover:after {
  transform: scale(1);
}
.nav-linc {
  color: #160a1e;
}

